._brd-rad1 {
  border-radius: 1px;
}
._brd-rad2 {
  border-radius: 2px;
}
._brd-rad3 {
  border-radius: 3px;
}
._brd-rad4 {
  border-radius: 4px;
}
._brd-rad5 {
  border-radius: 5px;
}
._brd-rad6 {
  border-radius: 6px;
}
._brd-rad7 {
  border-radius: 7px;
}
._brd-rad8 {
  border-radius: 8px;
}
._brd-rad9 {
  border-radius: 9px;
}
._brd-rad10 {
  border-radius: 10px;
}
._brd-rad11 {
  border-radius: 11px;
}
._brd-rad12 {
  border-radius: 12px;
}
._brd-rad13 {
  border-radius: 13px;
}
._brd-rad14 {
  border-radius: 14px;
}
._brd-rad15 {
  border-radius: 15px;
}
._brd-rad16 {
  border-radius: 16px;
}
._brd-rad17 {
  border-radius: 17px;
}
._brd-rad18 {
  border-radius: 18px;
}
._brd-rad19 {
  border-radius: 19px;
}
._brd-rad20 {
  border-radius: 20px;
}
._brd-rad21 {
  border-radius: 21px;
}
._brd-rad22 {
  border-radius: 22px;
}
._brd-rad23 {
  border-radius: 23px;
}
._brd-rad24 {
  border-radius: 24px;
}
._brd-rad25 {
  border-radius: 25px;
}
._brd-rad26 {
  border-radius: 26px;
}
._brd-rad27 {
  border-radius: 27px;
}
._brd-rad28 {
  border-radius: 28px;
}
._brd-rad29 {
  border-radius: 29px;
}
._brd-rad30 {
  border-radius: 30px;
}
._brd-rad31 {
  border-radius: 31px;
}
._brd-rad32 {
  border-radius: 32px;
}
._brd-rad33 {
  border-radius: 33px;
}
._brd-rad34 {
  border-radius: 34px;
}
._brd-rad35 {
  border-radius: 35px;
}
._brd-rad36 {
  border-radius: 36px;
}
._brd-rad37 {
  border-radius: 37px;
}
._brd-rad38 {
  border-radius: 38px;
}
._brd-rad39 {
  border-radius: 39px;
}
._brd-rad40 {
  border-radius: 40px;
}
._brd-rad41 {
  border-radius: 41px;
}
._brd-rad42 {
  border-radius: 42px;
}
._brd-rad43 {
  border-radius: 43px;
}
._brd-rad44 {
  border-radius: 44px;
}
._brd-rad45 {
  border-radius: 45px;
}
._brd-rad46 {
  border-radius: 46px;
}
._brd-rad47 {
  border-radius: 47px;
}
._brd-rad48 {
  border-radius: 48px;
}
._brd-rad49 {
  border-radius: 49px;
}
._brd-rad50 {
  border-radius: 50px;
}
._brd-rad51 {
  border-radius: 51px;
}
._brd-rad52 {
  border-radius: 52px;
}
._brd-rad53 {
  border-radius: 53px;
}
._brd-rad54 {
  border-radius: 54px;
}
._brd-rad55 {
  border-radius: 55px;
}
._brd-rad56 {
  border-radius: 56px;
}
._brd-rad57 {
  border-radius: 57px;
}
._brd-rad58 {
  border-radius: 58px;
}
._brd-rad59 {
  border-radius: 59px;
}
._brd-rad60 {
  border-radius: 60px;
}
._brd-rad61 {
  border-radius: 61px;
}
._brd-rad62 {
  border-radius: 62px;
}
._brd-rad63 {
  border-radius: 63px;
}
._brd-rad64 {
  border-radius: 64px;
}
._brd-rad65 {
  border-radius: 65px;
}
._brd-rad66 {
  border-radius: 66px;
}
._brd-rad67 {
  border-radius: 67px;
}
._brd-rad68 {
  border-radius: 68px;
}
._brd-rad69 {
  border-radius: 69px;
}
._brd-rad70 {
  border-radius: 70px;
}
._brd-rad71 {
  border-radius: 71px;
}
._brd-rad72 {
  border-radius: 72px;
}
._brd-rad73 {
  border-radius: 73px;
}
._brd-rad74 {
  border-radius: 74px;
}
._brd-rad75 {
  border-radius: 75px;
}
._brd-rad76 {
  border-radius: 76px;
}
._brd-rad77 {
  border-radius: 77px;
}
._brd-rad78 {
  border-radius: 78px;
}
._brd-rad79 {
  border-radius: 79px;
}
._brd-rad80 {
  border-radius: 80px;
}
._brd-rad81 {
  border-radius: 81px;
}
._brd-rad82 {
  border-radius: 82px;
}
._brd-rad83 {
  border-radius: 83px;
}
._brd-rad84 {
  border-radius: 84px;
}
._brd-rad85 {
  border-radius: 85px;
}
._brd-rad86 {
  border-radius: 86px;
}
._brd-rad87 {
  border-radius: 87px;
}
._brd-rad88 {
  border-radius: 88px;
}
._brd-rad89 {
  border-radius: 89px;
}
._brd-rad90 {
  border-radius: 90px;
}
._brd-rad91 {
  border-radius: 91px;
}
._brd-rad92 {
  border-radius: 92px;
}
._brd-rad93 {
  border-radius: 93px;
}
._brd-rad94 {
  border-radius: 94px;
}
._brd-rad95 {
  border-radius: 95px;
}
._brd-rad96 {
  border-radius: 96px;
}
._brd-rad97 {
  border-radius: 97px;
}
._brd-rad98 {
  border-radius: 98px;
}
._brd-rad99 {
  border-radius: 99px;
}
._brd-rad100 {
  border-radius: 100px;
}
._brd-rad-per1 {
  border-radius: 1%;
}
._brd-rad-per2 {
  border-radius: 2%;
}
._brd-rad-per3 {
  border-radius: 3%;
}
._brd-rad-per4 {
  border-radius: 4%;
}
._brd-rad-per5 {
  border-radius: 5%;
}
._brd-rad-per6 {
  border-radius: 6%;
}
._brd-rad-per7 {
  border-radius: 7%;
}
._brd-rad-per8 {
  border-radius: 8%;
}
._brd-rad-per9 {
  border-radius: 9%;
}
._brd-rad-per10 {
  border-radius: 10%;
}
._brd-rad-per11 {
  border-radius: 11%;
}
._brd-rad-per12 {
  border-radius: 12%;
}
._brd-rad-per13 {
  border-radius: 13%;
}
._brd-rad-per14 {
  border-radius: 14%;
}
._brd-rad-per15 {
  border-radius: 15%;
}
._brd-rad-per16 {
  border-radius: 16%;
}
._brd-rad-per17 {
  border-radius: 17%;
}
._brd-rad-per18 {
  border-radius: 18%;
}
._brd-rad-per19 {
  border-radius: 19%;
}
._brd-rad-per20 {
  border-radius: 20%;
}
._brd-rad-per21 {
  border-radius: 21%;
}
._brd-rad-per22 {
  border-radius: 22%;
}
._brd-rad-per23 {
  border-radius: 23%;
}
._brd-rad-per24 {
  border-radius: 24%;
}
._brd-rad-per25 {
  border-radius: 25%;
}
._brd-rad-per26 {
  border-radius: 26%;
}
._brd-rad-per27 {
  border-radius: 27%;
}
._brd-rad-per28 {
  border-radius: 28%;
}
._brd-rad-per29 {
  border-radius: 29%;
}
._brd-rad-per30 {
  border-radius: 30%;
}
._brd-rad-per31 {
  border-radius: 31%;
}
._brd-rad-per32 {
  border-radius: 32%;
}
._brd-rad-per33 {
  border-radius: 33%;
}
._brd-rad-per34 {
  border-radius: 34%;
}
._brd-rad-per35 {
  border-radius: 35%;
}
._brd-rad-per36 {
  border-radius: 36%;
}
._brd-rad-per37 {
  border-radius: 37%;
}
._brd-rad-per38 {
  border-radius: 38%;
}
._brd-rad-per39 {
  border-radius: 39%;
}
._brd-rad-per40 {
  border-radius: 40%;
}
._brd-rad-per41 {
  border-radius: 41%;
}
._brd-rad-per42 {
  border-radius: 42%;
}
._brd-rad-per43 {
  border-radius: 43%;
}
._brd-rad-per44 {
  border-radius: 44%;
}
._brd-rad-per45 {
  border-radius: 45%;
}
._brd-rad-per46 {
  border-radius: 46%;
}
._brd-rad-per47 {
  border-radius: 47%;
}
._brd-rad-per48 {
  border-radius: 48%;
}
._brd-rad-per49 {
  border-radius: 49%;
}
._brd-rad-per50 {
  border-radius: 50%;
}
._brd-rad-per51 {
  border-radius: 51%;
}
._brd-rad-per52 {
  border-radius: 52%;
}
._brd-rad-per53 {
  border-radius: 53%;
}
._brd-rad-per54 {
  border-radius: 54%;
}
._brd-rad-per55 {
  border-radius: 55%;
}
._brd-rad-per56 {
  border-radius: 56%;
}
._brd-rad-per57 {
  border-radius: 57%;
}
._brd-rad-per58 {
  border-radius: 58%;
}
._brd-rad-per59 {
  border-radius: 59%;
}
._brd-rad-per60 {
  border-radius: 60%;
}
._brd-rad-per61 {
  border-radius: 61%;
}
._brd-rad-per62 {
  border-radius: 62%;
}
._brd-rad-per63 {
  border-radius: 63%;
}
._brd-rad-per64 {
  border-radius: 64%;
}
._brd-rad-per65 {
  border-radius: 65%;
}
._brd-rad-per66 {
  border-radius: 66%;
}
._brd-rad-per67 {
  border-radius: 67%;
}
._brd-rad-per68 {
  border-radius: 68%;
}
._brd-rad-per69 {
  border-radius: 69%;
}
._brd-rad-per70 {
  border-radius: 70%;
}
._brd-rad-per71 {
  border-radius: 71%;
}
._brd-rad-per72 {
  border-radius: 72%;
}
._brd-rad-per73 {
  border-radius: 73%;
}
._brd-rad-per74 {
  border-radius: 74%;
}
._brd-rad-per75 {
  border-radius: 75%;
}
._brd-rad-per76 {
  border-radius: 76%;
}
._brd-rad-per77 {
  border-radius: 77%;
}
._brd-rad-per78 {
  border-radius: 78%;
}
._brd-rad-per79 {
  border-radius: 79%;
}
._brd-rad-per80 {
  border-radius: 80%;
}
._brd-rad-per81 {
  border-radius: 81%;
}
._brd-rad-per82 {
  border-radius: 82%;
}
._brd-rad-per83 {
  border-radius: 83%;
}
._brd-rad-per84 {
  border-radius: 84%;
}
._brd-rad-per85 {
  border-radius: 85%;
}
._brd-rad-per86 {
  border-radius: 86%;
}
._brd-rad-per87 {
  border-radius: 87%;
}
._brd-rad-per88 {
  border-radius: 88%;
}
._brd-rad-per89 {
  border-radius: 89%;
}
._brd-rad-per90 {
  border-radius: 90%;
}
._brd-rad-per91 {
  border-radius: 91%;
}
._brd-rad-per92 {
  border-radius: 92%;
}
._brd-rad-per93 {
  border-radius: 93%;
}
._brd-rad-per94 {
  border-radius: 94%;
}
._brd-rad-per95 {
  border-radius: 95%;
}
._brd-rad-per96 {
  border-radius: 96%;
}
._brd-rad-per97 {
  border-radius: 97%;
}
._brd-rad-per98 {
  border-radius: 98%;
}
._brd-rad-per99 {
  border-radius: 99%;
}
._brd-rad-per100 {
  border-radius: 100%;
}
._brd-solid-red1 {
  border: 1px solid red;
}
._brd-solid-red2 {
  border: 2px solid red;
}
._brd-solid-red3 {
  border: 3px solid red;
}
._brd-solid-red4 {
  border: 4px solid red;
}
._brd-solid-red5 {
  border: 5px solid red;
}
._brd-solid-red6 {
  border: 6px solid red;
}
._brd-solid-red7 {
  border: 7px solid red;
}
._brd-solid-red8 {
  border: 8px solid red;
}
._brd-solid-red9 {
  border: 9px solid red;
}
._brd-solid-red10 {
  border: 10px solid red;
}
._brd-solid-red11 {
  border: 11px solid red;
}
._brd-solid-red12 {
  border: 12px solid red;
}
._brd-solid-red13 {
  border: 13px solid red;
}
._brd-solid-red14 {
  border: 14px solid red;
}
._brd-solid-red15 {
  border: 15px solid red;
}
._brd-solid-red16 {
  border: 16px solid red;
}
._brd-solid-red17 {
  border: 17px solid red;
}
._brd-solid-red18 {
  border: 18px solid red;
}
._brd-solid-red19 {
  border: 19px solid red;
}
._brd-solid-red20 {
  border: 20px solid red;
}
._brd-dashed-red1 {
  border: 1px dashed red;
}
._brd-dashed-red2 {
  border: 2px dashed red;
}
._brd-dashed-red3 {
  border: 3px dashed red;
}
._brd-dashed-red4 {
  border: 4px dashed red;
}
._brd-dashed-red5 {
  border: 5px dashed red;
}
._brd-dashed-red6 {
  border: 6px dashed red;
}
._brd-dashed-red7 {
  border: 7px dashed red;
}
._brd-dashed-red8 {
  border: 8px dashed red;
}
._brd-dashed-red9 {
  border: 9px dashed red;
}
._brd-dashed-red10 {
  border: 10px dashed red;
}
._brd-dashed-red11 {
  border: 11px dashed red;
}
._brd-dashed-red12 {
  border: 12px dashed red;
}
._brd-dashed-red13 {
  border: 13px dashed red;
}
._brd-dashed-red14 {
  border: 14px dashed red;
}
._brd-dashed-red15 {
  border: 15px dashed red;
}
._brd-dashed-red16 {
  border: 16px dashed red;
}
._brd-dashed-red17 {
  border: 17px dashed red;
}
._brd-dashed-red18 {
  border: 18px dashed red;
}
._brd-dashed-red19 {
  border: 19px dashed red;
}
._brd-dashed-red20 {
  border: 20px dashed red;
}
._brd-dotted-red1 {
  border: 1px dotted red;
}
._brd-dotted-red2 {
  border: 2px dotted red;
}
._brd-dotted-red3 {
  border: 3px dotted red;
}
._brd-dotted-red4 {
  border: 4px dotted red;
}
._brd-dotted-red5 {
  border: 5px dotted red;
}
._brd-dotted-red6 {
  border: 6px dotted red;
}
._brd-dotted-red7 {
  border: 7px dotted red;
}
._brd-dotted-red8 {
  border: 8px dotted red;
}
._brd-dotted-red9 {
  border: 9px dotted red;
}
._brd-dotted-red10 {
  border: 10px dotted red;
}
._brd-dotted-red11 {
  border: 11px dotted red;
}
._brd-dotted-red12 {
  border: 12px dotted red;
}
._brd-dotted-red13 {
  border: 13px dotted red;
}
._brd-dotted-red14 {
  border: 14px dotted red;
}
._brd-dotted-red15 {
  border: 15px dotted red;
}
._brd-dotted-red16 {
  border: 16px dotted red;
}
._brd-dotted-red17 {
  border: 17px dotted red;
}
._brd-dotted-red18 {
  border: 18px dotted red;
}
._brd-dotted-red19 {
  border: 19px dotted red;
}
._brd-dotted-red20 {
  border: 20px dotted red;
}
._brd-solid-yellow1 {
  border: 1px solid yellow;
}
._brd-solid-yellow2 {
  border: 2px solid yellow;
}
._brd-solid-yellow3 {
  border: 3px solid yellow;
}
._brd-solid-yellow4 {
  border: 4px solid yellow;
}
._brd-solid-yellow5 {
  border: 5px solid yellow;
}
._brd-solid-yellow6 {
  border: 6px solid yellow;
}
._brd-solid-yellow7 {
  border: 7px solid yellow;
}
._brd-solid-yellow8 {
  border: 8px solid yellow;
}
._brd-solid-yellow9 {
  border: 9px solid yellow;
}
._brd-solid-yellow10 {
  border: 10px solid yellow;
}
._brd-solid-yellow11 {
  border: 11px solid yellow;
}
._brd-solid-yellow12 {
  border: 12px solid yellow;
}
._brd-solid-yellow13 {
  border: 13px solid yellow;
}
._brd-solid-yellow14 {
  border: 14px solid yellow;
}
._brd-solid-yellow15 {
  border: 15px solid yellow;
}
._brd-solid-yellow16 {
  border: 16px solid yellow;
}
._brd-solid-yellow17 {
  border: 17px solid yellow;
}
._brd-solid-yellow18 {
  border: 18px solid yellow;
}
._brd-solid-yellow19 {
  border: 19px solid yellow;
}
._brd-solid-yellow20 {
  border: 20px solid yellow;
}
._brd-dashed-yellow1 {
  border: 1px dashed yellow;
}
._brd-dashed-yellow2 {
  border: 2px dashed yellow;
}
._brd-dashed-yellow3 {
  border: 3px dashed yellow;
}
._brd-dashed-yellow4 {
  border: 4px dashed yellow;
}
._brd-dashed-yellow5 {
  border: 5px dashed yellow;
}
._brd-dashed-yellow6 {
  border: 6px dashed yellow;
}
._brd-dashed-yellow7 {
  border: 7px dashed yellow;
}
._brd-dashed-yellow8 {
  border: 8px dashed yellow;
}
._brd-dashed-yellow9 {
  border: 9px dashed yellow;
}
._brd-dashed-yellow10 {
  border: 10px dashed yellow;
}
._brd-dashed-yellow11 {
  border: 11px dashed yellow;
}
._brd-dashed-yellow12 {
  border: 12px dashed yellow;
}
._brd-dashed-yellow13 {
  border: 13px dashed yellow;
}
._brd-dashed-yellow14 {
  border: 14px dashed yellow;
}
._brd-dashed-yellow15 {
  border: 15px dashed yellow;
}
._brd-dashed-yellow16 {
  border: 16px dashed yellow;
}
._brd-dashed-yellow17 {
  border: 17px dashed yellow;
}
._brd-dashed-yellow18 {
  border: 18px dashed yellow;
}
._brd-dashed-yellow19 {
  border: 19px dashed yellow;
}
._brd-dashed-yellow20 {
  border: 20px dashed yellow;
}
._brd-dotted-yellow1 {
  border: 1px dotted yellow;
}
._brd-dotted-yellow2 {
  border: 2px dotted yellow;
}
._brd-dotted-yellow3 {
  border: 3px dotted yellow;
}
._brd-dotted-yellow4 {
  border: 4px dotted yellow;
}
._brd-dotted-yellow5 {
  border: 5px dotted yellow;
}
._brd-dotted-yellow6 {
  border: 6px dotted yellow;
}
._brd-dotted-yellow7 {
  border: 7px dotted yellow;
}
._brd-dotted-yellow8 {
  border: 8px dotted yellow;
}
._brd-dotted-yellow9 {
  border: 9px dotted yellow;
}
._brd-dotted-yellow10 {
  border: 10px dotted yellow;
}
._brd-dotted-yellow11 {
  border: 11px dotted yellow;
}
._brd-dotted-yellow12 {
  border: 12px dotted yellow;
}
._brd-dotted-yellow13 {
  border: 13px dotted yellow;
}
._brd-dotted-yellow14 {
  border: 14px dotted yellow;
}
._brd-dotted-yellow15 {
  border: 15px dotted yellow;
}
._brd-dotted-yellow16 {
  border: 16px dotted yellow;
}
._brd-dotted-yellow17 {
  border: 17px dotted yellow;
}
._brd-dotted-yellow18 {
  border: 18px dotted yellow;
}
._brd-dotted-yellow19 {
  border: 19px dotted yellow;
}
._brd-dotted-yellow20 {
  border: 20px dotted yellow;
}
._brd-solid-blue1 {
  border: 1px solid blue;
}
._brd-solid-blue2 {
  border: 2px solid blue;
}
._brd-solid-blue3 {
  border: 3px solid blue;
}
._brd-solid-blue4 {
  border: 4px solid blue;
}
._brd-solid-blue5 {
  border: 5px solid blue;
}
._brd-solid-blue6 {
  border: 6px solid blue;
}
._brd-solid-blue7 {
  border: 7px solid blue;
}
._brd-solid-blue8 {
  border: 8px solid blue;
}
._brd-solid-blue9 {
  border: 9px solid blue;
}
._brd-solid-blue10 {
  border: 10px solid blue;
}
._brd-solid-blue11 {
  border: 11px solid blue;
}
._brd-solid-blue12 {
  border: 12px solid blue;
}
._brd-solid-blue13 {
  border: 13px solid blue;
}
._brd-solid-blue14 {
  border: 14px solid blue;
}
._brd-solid-blue15 {
  border: 15px solid blue;
}
._brd-solid-blue16 {
  border: 16px solid blue;
}
._brd-solid-blue17 {
  border: 17px solid blue;
}
._brd-solid-blue18 {
  border: 18px solid blue;
}
._brd-solid-blue19 {
  border: 19px solid blue;
}
._brd-solid-blue20 {
  border: 20px solid blue;
}
._brd-dashed-blue1 {
  border: 1px dashed blue;
}
._brd-dashed-blue2 {
  border: 2px dashed blue;
}
._brd-dashed-blue3 {
  border: 3px dashed blue;
}
._brd-dashed-blue4 {
  border: 4px dashed blue;
}
._brd-dashed-blue5 {
  border: 5px dashed blue;
}
._brd-dashed-blue6 {
  border: 6px dashed blue;
}
._brd-dashed-blue7 {
  border: 7px dashed blue;
}
._brd-dashed-blue8 {
  border: 8px dashed blue;
}
._brd-dashed-blue9 {
  border: 9px dashed blue;
}
._brd-dashed-blue10 {
  border: 10px dashed blue;
}
._brd-dashed-blue11 {
  border: 11px dashed blue;
}
._brd-dashed-blue12 {
  border: 12px dashed blue;
}
._brd-dashed-blue13 {
  border: 13px dashed blue;
}
._brd-dashed-blue14 {
  border: 14px dashed blue;
}
._brd-dashed-blue15 {
  border: 15px dashed blue;
}
._brd-dashed-blue16 {
  border: 16px dashed blue;
}
._brd-dashed-blue17 {
  border: 17px dashed blue;
}
._brd-dashed-blue18 {
  border: 18px dashed blue;
}
._brd-dashed-blue19 {
  border: 19px dashed blue;
}
._brd-dashed-blue20 {
  border: 20px dashed blue;
}
._brd-dotted-blue1 {
  border: 1px dotted blue;
}
._brd-dotted-blue2 {
  border: 2px dotted blue;
}
._brd-dotted-blue3 {
  border: 3px dotted blue;
}
._brd-dotted-blue4 {
  border: 4px dotted blue;
}
._brd-dotted-blue5 {
  border: 5px dotted blue;
}
._brd-dotted-blue6 {
  border: 6px dotted blue;
}
._brd-dotted-blue7 {
  border: 7px dotted blue;
}
._brd-dotted-blue8 {
  border: 8px dotted blue;
}
._brd-dotted-blue9 {
  border: 9px dotted blue;
}
._brd-dotted-blue10 {
  border: 10px dotted blue;
}
._brd-dotted-blue11 {
  border: 11px dotted blue;
}
._brd-dotted-blue12 {
  border: 12px dotted blue;
}
._brd-dotted-blue13 {
  border: 13px dotted blue;
}
._brd-dotted-blue14 {
  border: 14px dotted blue;
}
._brd-dotted-blue15 {
  border: 15px dotted blue;
}
._brd-dotted-blue16 {
  border: 16px dotted blue;
}
._brd-dotted-blue17 {
  border: 17px dotted blue;
}
._brd-dotted-blue18 {
  border: 18px dotted blue;
}
._brd-dotted-blue19 {
  border: 19px dotted blue;
}
._brd-dotted-blue20 {
  border: 20px dotted blue;
}
._brd-solid-green1 {
  border: 1px solid green;
}
._brd-solid-green2 {
  border: 2px solid green;
}
._brd-solid-green3 {
  border: 3px solid green;
}
._brd-solid-green4 {
  border: 4px solid green;
}
._brd-solid-green5 {
  border: 5px solid green;
}
._brd-solid-green6 {
  border: 6px solid green;
}
._brd-solid-green7 {
  border: 7px solid green;
}
._brd-solid-green8 {
  border: 8px solid green;
}
._brd-solid-green9 {
  border: 9px solid green;
}
._brd-solid-green10 {
  border: 10px solid green;
}
._brd-solid-green11 {
  border: 11px solid green;
}
._brd-solid-green12 {
  border: 12px solid green;
}
._brd-solid-green13 {
  border: 13px solid green;
}
._brd-solid-green14 {
  border: 14px solid green;
}
._brd-solid-green15 {
  border: 15px solid green;
}
._brd-solid-green16 {
  border: 16px solid green;
}
._brd-solid-green17 {
  border: 17px solid green;
}
._brd-solid-green18 {
  border: 18px solid green;
}
._brd-solid-green19 {
  border: 19px solid green;
}
._brd-solid-green20 {
  border: 20px solid green;
}
._brd-dashed-green1 {
  border: 1px dashed green;
}
._brd-dashed-green2 {
  border: 2px dashed green;
}
._brd-dashed-green3 {
  border: 3px dashed green;
}
._brd-dashed-green4 {
  border: 4px dashed green;
}
._brd-dashed-green5 {
  border: 5px dashed green;
}
._brd-dashed-green6 {
  border: 6px dashed green;
}
._brd-dashed-green7 {
  border: 7px dashed green;
}
._brd-dashed-green8 {
  border: 8px dashed green;
}
._brd-dashed-green9 {
  border: 9px dashed green;
}
._brd-dashed-green10 {
  border: 10px dashed green;
}
._brd-dashed-green11 {
  border: 11px dashed green;
}
._brd-dashed-green12 {
  border: 12px dashed green;
}
._brd-dashed-green13 {
  border: 13px dashed green;
}
._brd-dashed-green14 {
  border: 14px dashed green;
}
._brd-dashed-green15 {
  border: 15px dashed green;
}
._brd-dashed-green16 {
  border: 16px dashed green;
}
._brd-dashed-green17 {
  border: 17px dashed green;
}
._brd-dashed-green18 {
  border: 18px dashed green;
}
._brd-dashed-green19 {
  border: 19px dashed green;
}
._brd-dashed-green20 {
  border: 20px dashed green;
}
._brd-dotted-green1 {
  border: 1px dotted green;
}
._brd-dotted-green2 {
  border: 2px dotted green;
}
._brd-dotted-green3 {
  border: 3px dotted green;
}
._brd-dotted-green4 {
  border: 4px dotted green;
}
._brd-dotted-green5 {
  border: 5px dotted green;
}
._brd-dotted-green6 {
  border: 6px dotted green;
}
._brd-dotted-green7 {
  border: 7px dotted green;
}
._brd-dotted-green8 {
  border: 8px dotted green;
}
._brd-dotted-green9 {
  border: 9px dotted green;
}
._brd-dotted-green10 {
  border: 10px dotted green;
}
._brd-dotted-green11 {
  border: 11px dotted green;
}
._brd-dotted-green12 {
  border: 12px dotted green;
}
._brd-dotted-green13 {
  border: 13px dotted green;
}
._brd-dotted-green14 {
  border: 14px dotted green;
}
._brd-dotted-green15 {
  border: 15px dotted green;
}
._brd-dotted-green16 {
  border: 16px dotted green;
}
._brd-dotted-green17 {
  border: 17px dotted green;
}
._brd-dotted-green18 {
  border: 18px dotted green;
}
._brd-dotted-green19 {
  border: 19px dotted green;
}
._brd-dotted-green20 {
  border: 20px dotted green;
}
._brd-solid-black1 {
  border: 1px solid black;
}
._brd-solid-black2 {
  border: 2px solid black;
}
._brd-solid-black3 {
  border: 3px solid black;
}
._brd-solid-black4 {
  border: 4px solid black;
}
._brd-solid-black5 {
  border: 5px solid black;
}
._brd-solid-black6 {
  border: 6px solid black;
}
._brd-solid-black7 {
  border: 7px solid black;
}
._brd-solid-black8 {
  border: 8px solid black;
}
._brd-solid-black9 {
  border: 9px solid black;
}
._brd-solid-black10 {
  border: 10px solid black;
}
._brd-solid-black11 {
  border: 11px solid black;
}
._brd-solid-black12 {
  border: 12px solid black;
}
._brd-solid-black13 {
  border: 13px solid black;
}
._brd-solid-black14 {
  border: 14px solid black;
}
._brd-solid-black15 {
  border: 15px solid black;
}
._brd-solid-black16 {
  border: 16px solid black;
}
._brd-solid-black17 {
  border: 17px solid black;
}
._brd-solid-black18 {
  border: 18px solid black;
}
._brd-solid-black19 {
  border: 19px solid black;
}
._brd-solid-black20 {
  border: 20px solid black;
}
._brd-dashed-black1 {
  border: 1px dashed black;
}
._brd-dashed-black2 {
  border: 2px dashed black;
}
._brd-dashed-black3 {
  border: 3px dashed black;
}
._brd-dashed-black4 {
  border: 4px dashed black;
}
._brd-dashed-black5 {
  border: 5px dashed black;
}
._brd-dashed-black6 {
  border: 6px dashed black;
}
._brd-dashed-black7 {
  border: 7px dashed black;
}
._brd-dashed-black8 {
  border: 8px dashed black;
}
._brd-dashed-black9 {
  border: 9px dashed black;
}
._brd-dashed-black10 {
  border: 10px dashed black;
}
._brd-dashed-black11 {
  border: 11px dashed black;
}
._brd-dashed-black12 {
  border: 12px dashed black;
}
._brd-dashed-black13 {
  border: 13px dashed black;
}
._brd-dashed-black14 {
  border: 14px dashed black;
}
._brd-dashed-black15 {
  border: 15px dashed black;
}
._brd-dashed-black16 {
  border: 16px dashed black;
}
._brd-dashed-black17 {
  border: 17px dashed black;
}
._brd-dashed-black18 {
  border: 18px dashed black;
}
._brd-dashed-black19 {
  border: 19px dashed black;
}
._brd-dashed-black20 {
  border: 20px dashed black;
}
._brd-dotted-black1 {
  border: 1px dotted black;
}
._brd-dotted-black2 {
  border: 2px dotted black;
}
._brd-dotted-black3 {
  border: 3px dotted black;
}
._brd-dotted-black4 {
  border: 4px dotted black;
}
._brd-dotted-black5 {
  border: 5px dotted black;
}
._brd-dotted-black6 {
  border: 6px dotted black;
}
._brd-dotted-black7 {
  border: 7px dotted black;
}
._brd-dotted-black8 {
  border: 8px dotted black;
}
._brd-dotted-black9 {
  border: 9px dotted black;
}
._brd-dotted-black10 {
  border: 10px dotted black;
}
._brd-dotted-black11 {
  border: 11px dotted black;
}
._brd-dotted-black12 {
  border: 12px dotted black;
}
._brd-dotted-black13 {
  border: 13px dotted black;
}
._brd-dotted-black14 {
  border: 14px dotted black;
}
._brd-dotted-black15 {
  border: 15px dotted black;
}
._brd-dotted-black16 {
  border: 16px dotted black;
}
._brd-dotted-black17 {
  border: 17px dotted black;
}
._brd-dotted-black18 {
  border: 18px dotted black;
}
._brd-dotted-black19 {
  border: 19px dotted black;
}
._brd-dotted-black20 {
  border: 20px dotted black;
}
._brd-solid-white1 {
  border: 1px solid white;
}
._brd-solid-white2 {
  border: 2px solid white;
}
._brd-solid-white3 {
  border: 3px solid white;
}
._brd-solid-white4 {
  border: 4px solid white;
}
._brd-solid-white5 {
  border: 5px solid white;
}
._brd-solid-white6 {
  border: 6px solid white;
}
._brd-solid-white7 {
  border: 7px solid white;
}
._brd-solid-white8 {
  border: 8px solid white;
}
._brd-solid-white9 {
  border: 9px solid white;
}
._brd-solid-white10 {
  border: 10px solid white;
}
._brd-solid-white11 {
  border: 11px solid white;
}
._brd-solid-white12 {
  border: 12px solid white;
}
._brd-solid-white13 {
  border: 13px solid white;
}
._brd-solid-white14 {
  border: 14px solid white;
}
._brd-solid-white15 {
  border: 15px solid white;
}
._brd-solid-white16 {
  border: 16px solid white;
}
._brd-solid-white17 {
  border: 17px solid white;
}
._brd-solid-white18 {
  border: 18px solid white;
}
._brd-solid-white19 {
  border: 19px solid white;
}
._brd-solid-white20 {
  border: 20px solid white;
}
._brd-dashed-white1 {
  border: 1px dashed white;
}
._brd-dashed-white2 {
  border: 2px dashed white;
}
._brd-dashed-white3 {
  border: 3px dashed white;
}
._brd-dashed-white4 {
  border: 4px dashed white;
}
._brd-dashed-white5 {
  border: 5px dashed white;
}
._brd-dashed-white6 {
  border: 6px dashed white;
}
._brd-dashed-white7 {
  border: 7px dashed white;
}
._brd-dashed-white8 {
  border: 8px dashed white;
}
._brd-dashed-white9 {
  border: 9px dashed white;
}
._brd-dashed-white10 {
  border: 10px dashed white;
}
._brd-dashed-white11 {
  border: 11px dashed white;
}
._brd-dashed-white12 {
  border: 12px dashed white;
}
._brd-dashed-white13 {
  border: 13px dashed white;
}
._brd-dashed-white14 {
  border: 14px dashed white;
}
._brd-dashed-white15 {
  border: 15px dashed white;
}
._brd-dashed-white16 {
  border: 16px dashed white;
}
._brd-dashed-white17 {
  border: 17px dashed white;
}
._brd-dashed-white18 {
  border: 18px dashed white;
}
._brd-dashed-white19 {
  border: 19px dashed white;
}
._brd-dashed-white20 {
  border: 20px dashed white;
}
._brd-dotted-white1 {
  border: 1px dotted white;
}
._brd-dotted-white2 {
  border: 2px dotted white;
}
._brd-dotted-white3 {
  border: 3px dotted white;
}
._brd-dotted-white4 {
  border: 4px dotted white;
}
._brd-dotted-white5 {
  border: 5px dotted white;
}
._brd-dotted-white6 {
  border: 6px dotted white;
}
._brd-dotted-white7 {
  border: 7px dotted white;
}
._brd-dotted-white8 {
  border: 8px dotted white;
}
._brd-dotted-white9 {
  border: 9px dotted white;
}
._brd-dotted-white10 {
  border: 10px dotted white;
}
._brd-dotted-white11 {
  border: 11px dotted white;
}
._brd-dotted-white12 {
  border: 12px dotted white;
}
._brd-dotted-white13 {
  border: 13px dotted white;
}
._brd-dotted-white14 {
  border: 14px dotted white;
}
._brd-dotted-white15 {
  border: 15px dotted white;
}
._brd-dotted-white16 {
  border: 16px dotted white;
}
._brd-dotted-white17 {
  border: 17px dotted white;
}
._brd-dotted-white18 {
  border: 18px dotted white;
}
._brd-dotted-white19 {
  border: 19px dotted white;
}
._brd-dotted-white20 {
  border: 20px dotted white;
}
._brd-solid-pink1 {
  border: 1px solid pink;
}
._brd-solid-pink2 {
  border: 2px solid pink;
}
._brd-solid-pink3 {
  border: 3px solid pink;
}
._brd-solid-pink4 {
  border: 4px solid pink;
}
._brd-solid-pink5 {
  border: 5px solid pink;
}
._brd-solid-pink6 {
  border: 6px solid pink;
}
._brd-solid-pink7 {
  border: 7px solid pink;
}
._brd-solid-pink8 {
  border: 8px solid pink;
}
._brd-solid-pink9 {
  border: 9px solid pink;
}
._brd-solid-pink10 {
  border: 10px solid pink;
}
._brd-solid-pink11 {
  border: 11px solid pink;
}
._brd-solid-pink12 {
  border: 12px solid pink;
}
._brd-solid-pink13 {
  border: 13px solid pink;
}
._brd-solid-pink14 {
  border: 14px solid pink;
}
._brd-solid-pink15 {
  border: 15px solid pink;
}
._brd-solid-pink16 {
  border: 16px solid pink;
}
._brd-solid-pink17 {
  border: 17px solid pink;
}
._brd-solid-pink18 {
  border: 18px solid pink;
}
._brd-solid-pink19 {
  border: 19px solid pink;
}
._brd-solid-pink20 {
  border: 20px solid pink;
}
._brd-dashed-pink1 {
  border: 1px dashed pink;
}
._brd-dashed-pink2 {
  border: 2px dashed pink;
}
._brd-dashed-pink3 {
  border: 3px dashed pink;
}
._brd-dashed-pink4 {
  border: 4px dashed pink;
}
._brd-dashed-pink5 {
  border: 5px dashed pink;
}
._brd-dashed-pink6 {
  border: 6px dashed pink;
}
._brd-dashed-pink7 {
  border: 7px dashed pink;
}
._brd-dashed-pink8 {
  border: 8px dashed pink;
}
._brd-dashed-pink9 {
  border: 9px dashed pink;
}
._brd-dashed-pink10 {
  border: 10px dashed pink;
}
._brd-dashed-pink11 {
  border: 11px dashed pink;
}
._brd-dashed-pink12 {
  border: 12px dashed pink;
}
._brd-dashed-pink13 {
  border: 13px dashed pink;
}
._brd-dashed-pink14 {
  border: 14px dashed pink;
}
._brd-dashed-pink15 {
  border: 15px dashed pink;
}
._brd-dashed-pink16 {
  border: 16px dashed pink;
}
._brd-dashed-pink17 {
  border: 17px dashed pink;
}
._brd-dashed-pink18 {
  border: 18px dashed pink;
}
._brd-dashed-pink19 {
  border: 19px dashed pink;
}
._brd-dashed-pink20 {
  border: 20px dashed pink;
}
._brd-dotted-pink1 {
  border: 1px dotted pink;
}
._brd-dotted-pink2 {
  border: 2px dotted pink;
}
._brd-dotted-pink3 {
  border: 3px dotted pink;
}
._brd-dotted-pink4 {
  border: 4px dotted pink;
}
._brd-dotted-pink5 {
  border: 5px dotted pink;
}
._brd-dotted-pink6 {
  border: 6px dotted pink;
}
._brd-dotted-pink7 {
  border: 7px dotted pink;
}
._brd-dotted-pink8 {
  border: 8px dotted pink;
}
._brd-dotted-pink9 {
  border: 9px dotted pink;
}
._brd-dotted-pink10 {
  border: 10px dotted pink;
}
._brd-dotted-pink11 {
  border: 11px dotted pink;
}
._brd-dotted-pink12 {
  border: 12px dotted pink;
}
._brd-dotted-pink13 {
  border: 13px dotted pink;
}
._brd-dotted-pink14 {
  border: 14px dotted pink;
}
._brd-dotted-pink15 {
  border: 15px dotted pink;
}
._brd-dotted-pink16 {
  border: 16px dotted pink;
}
._brd-dotted-pink17 {
  border: 17px dotted pink;
}
._brd-dotted-pink18 {
  border: 18px dotted pink;
}
._brd-dotted-pink19 {
  border: 19px dotted pink;
}
._brd-dotted-pink20 {
  border: 20px dotted pink;
}
._brd-solid-violet1 {
  border: 1px solid violet;
}
._brd-solid-violet2 {
  border: 2px solid violet;
}
._brd-solid-violet3 {
  border: 3px solid violet;
}
._brd-solid-violet4 {
  border: 4px solid violet;
}
._brd-solid-violet5 {
  border: 5px solid violet;
}
._brd-solid-violet6 {
  border: 6px solid violet;
}
._brd-solid-violet7 {
  border: 7px solid violet;
}
._brd-solid-violet8 {
  border: 8px solid violet;
}
._brd-solid-violet9 {
  border: 9px solid violet;
}
._brd-solid-violet10 {
  border: 10px solid violet;
}
._brd-solid-violet11 {
  border: 11px solid violet;
}
._brd-solid-violet12 {
  border: 12px solid violet;
}
._brd-solid-violet13 {
  border: 13px solid violet;
}
._brd-solid-violet14 {
  border: 14px solid violet;
}
._brd-solid-violet15 {
  border: 15px solid violet;
}
._brd-solid-violet16 {
  border: 16px solid violet;
}
._brd-solid-violet17 {
  border: 17px solid violet;
}
._brd-solid-violet18 {
  border: 18px solid violet;
}
._brd-solid-violet19 {
  border: 19px solid violet;
}
._brd-solid-violet20 {
  border: 20px solid violet;
}
._brd-dashed-violet1 {
  border: 1px dashed violet;
}
._brd-dashed-violet2 {
  border: 2px dashed violet;
}
._brd-dashed-violet3 {
  border: 3px dashed violet;
}
._brd-dashed-violet4 {
  border: 4px dashed violet;
}
._brd-dashed-violet5 {
  border: 5px dashed violet;
}
._brd-dashed-violet6 {
  border: 6px dashed violet;
}
._brd-dashed-violet7 {
  border: 7px dashed violet;
}
._brd-dashed-violet8 {
  border: 8px dashed violet;
}
._brd-dashed-violet9 {
  border: 9px dashed violet;
}
._brd-dashed-violet10 {
  border: 10px dashed violet;
}
._brd-dashed-violet11 {
  border: 11px dashed violet;
}
._brd-dashed-violet12 {
  border: 12px dashed violet;
}
._brd-dashed-violet13 {
  border: 13px dashed violet;
}
._brd-dashed-violet14 {
  border: 14px dashed violet;
}
._brd-dashed-violet15 {
  border: 15px dashed violet;
}
._brd-dashed-violet16 {
  border: 16px dashed violet;
}
._brd-dashed-violet17 {
  border: 17px dashed violet;
}
._brd-dashed-violet18 {
  border: 18px dashed violet;
}
._brd-dashed-violet19 {
  border: 19px dashed violet;
}
._brd-dashed-violet20 {
  border: 20px dashed violet;
}
._brd-dotted-violet1 {
  border: 1px dotted violet;
}
._brd-dotted-violet2 {
  border: 2px dotted violet;
}
._brd-dotted-violet3 {
  border: 3px dotted violet;
}
._brd-dotted-violet4 {
  border: 4px dotted violet;
}
._brd-dotted-violet5 {
  border: 5px dotted violet;
}
._brd-dotted-violet6 {
  border: 6px dotted violet;
}
._brd-dotted-violet7 {
  border: 7px dotted violet;
}
._brd-dotted-violet8 {
  border: 8px dotted violet;
}
._brd-dotted-violet9 {
  border: 9px dotted violet;
}
._brd-dotted-violet10 {
  border: 10px dotted violet;
}
._brd-dotted-violet11 {
  border: 11px dotted violet;
}
._brd-dotted-violet12 {
  border: 12px dotted violet;
}
._brd-dotted-violet13 {
  border: 13px dotted violet;
}
._brd-dotted-violet14 {
  border: 14px dotted violet;
}
._brd-dotted-violet15 {
  border: 15px dotted violet;
}
._brd-dotted-violet16 {
  border: 16px dotted violet;
}
._brd-dotted-violet17 {
  border: 17px dotted violet;
}
._brd-dotted-violet18 {
  border: 18px dotted violet;
}
._brd-dotted-violet19 {
  border: 19px dotted violet;
}
._brd-dotted-violet20 {
  border: 20px dotted violet;
}
