/* Color */
._text-red {
    color: red;
  }
  ._text-blue {
    color: blue;
  }
  ._text-pink {
    color: pink;
  }
  ._text-purple {
    color: purple;
  }
  ._text-green {
    color: green;
  }
  ._text-black {
    color: black;
  }
  ._text-white {
    color: white;
  }
  ._text-brown {
    color: brown;
  }
  ._text-silver {
    color: silver;
  }
  ._text-gray {
    color: gray;
  }
  ._text-yellow {
    color: yellow;
  }
  /* Background Color */
  ._bg-red {
    background-color: red;
  }
  ._bg-blue {
    background-color: blue;
  }
  ._bg-pink {
    background-color: pink;
  }
  ._bg-purple {
    background-color: purple;
  }
  ._bg-green {
    background-color: green;
  }
  ._bg-black {
    background-color: black;
  }
  ._bg-white {
    background-color: white;
  }
  ._bg-brown {
    background-color: brown;
  }
  ._bg-silver {
    background-color: silver;
  }
  ._bg-gray {
    background-color: gray;
  }
  ._bg-yellow {
    background-color: yellow;
  }