._fw-100 {
  font-weight: 100;
}
._fw-200 {
  font-weight: 200;
}
._fw-300 {
  font-weight: 300;
}
._fw-400 {
  font-weight: 400;
}
._fw-500 {
  font-weight: 500;
}
._fw-600 {
  font-weight: 600;
}
._fw-700 {
  font-weight: 700;
}
._fw-800 {
  font-weight: 800;
}
._fw-900 {
  font-weight: 900;
}

._td-none {
  text-decoration: none;
}
._td-underline{
    text-decoration: underline;
}
._td-through{
    text-decoration: line-through;
}
._font-1 {
  font-size: 1px;
}
._font-2 {
  font-size: 2px;
}
._font-3 {
  font-size: 3px;
}
._font-4 {
  font-size: 4px;
}
._font-5 {
  font-size: 5px;
}
._font-6 {
  font-size: 6px;
}
._font-7 {
  font-size: 7px;
}
._font-8 {
  font-size: 8px;
}
._font-9 {
  font-size: 9px;
}
._font-10 {
  font-size: 10px;
}
._font-11 {
  font-size: 11px;
}
._font-12 {
  font-size: 12px;
}
._font-13 {
  font-size: 13px;
}
._font-14 {
  font-size: 14px;
}
._font-15 {
  font-size: 15px;
}
._font-16 {
  font-size: 16px;
}
._font-17 {
  font-size: 17px;
}
._font-18 {
  font-size: 18px;
}
._font-19 {
  font-size: 19px;
}
._font-20 {
  font-size: 20px;
}
._font-21 {
  font-size: 21px;
}
._font-22 {
  font-size: 22px;
}
._font-23 {
  font-size: 23px;
}
._font-24 {
  font-size: 24px;
}
._font-25 {
  font-size: 25px;
}
._font-26 {
  font-size: 26px;
}
._font-27 {
  font-size: 27px;
}
._font-28 {
  font-size: 28px;
}
._font-29 {
  font-size: 29px;
}
._font-30 {
  font-size: 30px;
}
._font-31 {
  font-size: 31px;
}
._font-32 {
  font-size: 32px;
}
._font-33 {
  font-size: 33px;
}
._font-34 {
  font-size: 34px;
}
._font-35 {
  font-size: 35px;
}
._font-36 {
  font-size: 36px;
}
._font-37 {
  font-size: 37px;
}
._font-38 {
  font-size: 38px;
}
._font-39 {
  font-size: 39px;
}
._font-40 {
  font-size: 40px;
}
._font-41 {
  font-size: 41px;
}
._font-42 {
  font-size: 42px;
}
._font-43 {
  font-size: 43px;
}
._font-44 {
  font-size: 44px;
}
._font-45 {
  font-size: 45px;
}
._font-46 {
  font-size: 46px;
}
._font-47 {
  font-size: 47px;
}
._font-48 {
  font-size: 48px;
}
._font-49 {
  font-size: 49px;
}
._font-50 {
  font-size: 50px;
}
._font-51 {
  font-size: 51px;
}
._font-52 {
  font-size: 52px;
}
._font-53 {
  font-size: 53px;
}
._font-54 {
  font-size: 54px;
}
._font-55 {
  font-size: 55px;
}
._font-56 {
  font-size: 56px;
}
._font-57 {
  font-size: 57px;
}
._font-58 {
  font-size: 58px;
}
._font-59 {
  font-size: 59px;
}
._font-60 {
  font-size: 60px;
}
._font-61 {
  font-size: 61px;
}
._font-62 {
  font-size: 62px;
}
._font-63 {
  font-size: 63px;
}
._font-64 {
  font-size: 64px;
}
._font-65 {
  font-size: 65px;
}
._font-66 {
  font-size: 66px;
}
._font-67 {
  font-size: 67px;
}
._font-68 {
  font-size: 68px;
}
._font-69 {
  font-size: 69px;
}
._font-70 {
  font-size: 70px;
}
._font-71 {
  font-size: 71px;
}
._font-72 {
  font-size: 72px;
}
._font-73 {
  font-size: 73px;
}
._font-74 {
  font-size: 74px;
}
._font-75 {
  font-size: 75px;
}
._font-76 {
  font-size: 76px;
}
._font-77 {
  font-size: 77px;
}
._font-78 {
  font-size: 78px;
}
._font-79 {
  font-size: 79px;
}
._font-80 {
  font-size: 80px;
}
._font-81 {
  font-size: 81px;
}
._font-82 {
  font-size: 82px;
}
._font-83 {
  font-size: 83px;
}
._font-84 {
  font-size: 84px;
}
._font-85 {
  font-size: 85px;
}
._font-86 {
  font-size: 86px;
}
._font-87 {
  font-size: 87px;
}
._font-88 {
  font-size: 88px;
}
._font-89 {
  font-size: 89px;
}
._font-90 {
  font-size: 90px;
}
._font-91 {
  font-size: 91px;
}
._font-92 {
  font-size: 92px;
}
._font-93 {
  font-size: 93px;
}
._font-94 {
  font-size: 94px;
}
._font-95 {
  font-size: 95px;
}
._font-96 {
  font-size: 96px;
}
._font-97 {
  font-size: 97px;
}
._font-98 {
  font-size: 98px;
}
._font-99 {
  font-size: 99px;
}
._font-100 {
  font-size: 100px;
}
._font-em1 {
  font-size: 1em;
}
._font-em2 {
  font-size: 2em;
}
._font-em3 {
  font-size: 3em;
}
._font-em4 {
  font-size: 4em;
}
._font-em5 {
  font-size: 5em;
}
._font-em6 {
  font-size: 6em;
}
._font-em7 {
  font-size: 7em;
}
._font-em8 {
  font-size: 8em;
}
._font-em9 {
  font-size: 9em;
}
._font-em10 {
  font-size: 10em;
}
._font-rem1 {
  font-size: 1rem;
}
._font-rem2 {
  font-size: 2rem;
}
._font-rem3 {
  font-size: 3rem;
}
._font-rem4 {
  font-size: 4rem;
}
._font-rem5 {
  font-size: 5rem;
}
._font-rem6 {
  font-size: 6rem;
}
._font-rem7 {
  font-size: 7rem;
}
._font-rem8 {
  font-size: 8rem;
}
._font-rem9 {
  font-size: 9rem;
}
._font-rem10 {
  font-size: 10rem;
}
