@import url(css/height.css);
@import url(css/width.css);
@import url(css/colors.css);
@import url(css/flex.css);
@import url(css/margin.css);
@import url(css/padding.css);
@import url(css/font.css);
@import url(css/border.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

._reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
._list-none{
    list-style: none;
}
._text-center{
    text-align: center;
}
._text-left{
    text-align: left;
}
._text-right{
    text-align: right;
}




